root = true

[*]

indent_size = 4
indent_style = space
tab_width = 4
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{appxmanifest,axml,build,config,csproj,dbml,discomap,dtd,json,jsproj,lsproj,njsproj,nuspec,proj,props,resjson,resw,resx,StyleCop,targets,props,tasks,vbproj,yml,xml,xsd}]
indent_style = space
indent_size = 2
tab_width = 2

# C# files
[*.cs]

# Put any C# specific settings here
dotnet_code_quality.CA1062.null_check_validation_methods = NotNull

# S2094 // Classes should not be empty
dotnet_diagnostic.S2094.severity = suggestion