[*.cs]

dotnet_diagnostic.SA0001.severity = silent
dotnet_diagnostic.SA1101.severity = silent
dotnet_diagnostic.SA1633.severity = silent
dotnet_diagnostic.SA1200.severity = silent
dotnet_diagnostic.SA1123.severity = silent
dotnet_diagnostic.SA1124.severity = silent
dotnet_diagnostic.SA1600.severity = silent
dotnet_diagnostic.SA1201.severity = silent
dotnet_diagnostic.SA1649.severity = silent
dotnet_diagnostic.SA1402.severity = silent
dotnet_diagnostic.SA1202.severity = silent
dotnet_diagnostic.SA1515.severity = silent

dotnet_diagnostic.CA2007.severity = none
dotnet_diagnostic.CA1303.severity = none
dotnet_diagnostic.CA1050.severity = none
dotnet_diagnostic.CA1852.severity = none
dotnet_diagnostic.CA1305.severity = none

dotnet_diagnostic.S406.severity = none
dotnet_diagnostic.S109.severity = none
dotnet_diagnostic.S4056.severity = none
