name: code-ql

on:
  push:
    branches:
      - main
      - release/*
  pull_request:
    branches:
      - main
      - release/*
      - dotnet-vnext
  schedule:
    - cron: '0 8 * * MON'
  workflow_dispatch:

permissions: {}

jobs:
  analysis:
    runs-on: ubuntu-latest

    permissions:
      actions: read
      contents: read
      security-events: write

    strategy:
      fail-fast: false
      matrix:
        language: [ 'actions', 'csharp' ]

    steps:
    - name: Checkout repository
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        filter: 'tree:0'
        persist-credentials: false
        show-progress: false

    - name: Initialize CodeQL
      uses: github/codeql-action/init@cdefb33c0f6224e58673d9004f47f7cb3e328b89 # v4.31.10
      with:
        build-mode: none
        languages: ${{ matrix.language }}

    - name: Perform CodeQL Analysis
      uses: github/codeql-action/analyze@cdefb33c0f6224e58673d9004f47f7cb3e328b89 # v4.31.10
      with:
        category: '/language:${{ matrix.language }}'

  code-ql:
    if: ${{ !cancelled() }}
    needs: [ analysis ]
    runs-on: ubuntu-latest

    steps:
    - name: Report status
      shell: bash
      env:
        SCAN_SUCCESS: ${{ !contains(needs.*.result, 'failure') && !contains(needs.*.result, 'cancelled') }}
      run: |
        if [ "${SCAN_SUCCESS}" == "true" ]
        then
          echo 'CodeQL analysis successful ✅'
        else
          echo '::error title=CodeQL::CodeQL analysis failed ❌'
          exit 1
        fi
