name: dependency-review

on:
  pull_request:
    branches:
      - main
      - release/*
      - dotnet-vnext

permissions: {}

jobs:
  dependency-review:
    runs-on: ubuntu-latest
    if: github.event.repository.fork == false

    permissions:
      contents: read

    steps:

      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          filter: 'tree:0'
          persist-credentials: false
          show-progress: false

      - name: Review dependencies
        uses: actions/dependency-review-action@3c4e3dcb1aa7874d2c16be7d79418e9b7efd6261 # v4.8.2
        with:
          allow-licenses: 'Apache-2.0,BSD-3-Clause,MIT'
