name: dependabot-approve

on: pull_request_target # zizmor: ignore[dangerous-triggers] Workflow is gated on pull request triggering account and only checks out main

permissions: {}

jobs:
  review:
    runs-on: ubuntu-latest
    if: github.event.repository.fork == false && github.event.pull_request.user.login == 'dependabot[bot]'

    permissions:
      contents: read

    steps:

      - name: Get dependabot metadata
        uses: dependabot/fetch-metadata@21025c705c08248db411dc16f3619e6b5f9ea21a # v2.5.0
        id: dependabot-metadata

      - name: Generate GitHub application token
        id: generate-application-token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        with:
          app-id: ${{ secrets.POLLY_REVIEWER_BOT_APP_ID }}
          private-key: ${{ secrets.POLLY_REVIEWER_BOT_KEY }}
          permission-contents: write
          permission-pull-requests: write
          permission-workflows: write

      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          filter: 'tree:0'
          persist-credentials: false
          ref: ${{ github.event.repository.default_branch }}
          show-progress: false

      - name: Approve pull request and enable auto-merge
        shell: bash
        if: |
          contains(steps.dependabot-metadata.outputs.dependency-names, 'actions/attest-build-provenance') ||
          contains(steps.dependabot-metadata.outputs.dependency-names, 'actions/cache') ||
          contains(steps.dependabot-metadata.outputs.dependency-names, 'actions/checkout') ||
          contains(steps.dependabot-metadata.outputs.dependency-names, 'actions/create-github-app-token') ||
          contains(steps.dependabot-metadata.outputs.dependency-names, 'actions/dependency-review-action') ||
          contains(steps.dependabot-metadata.outputs.dependency-names, 'actions/download-artifact') ||
          contains(steps.dependabot-metadata.outputs.dependency-names, 'actions/github-script') ||
          contains(steps.dependabot-metadata.outputs.dependency-names, 'actions/setup-dotnet') ||
          contains(steps.dependabot-metadata.outputs.dependency-names, 'actions/stale') ||
          contains(steps.dependabot-metadata.outputs.dependency-names, 'actions/upload-artifact') ||
          contains(steps.dependabot-metadata.outputs.dependency-names, 'codecov/codecov-action') ||
          contains(steps.dependabot-metadata.outputs.dependency-names, 'dependabot/fetch-metadata') ||
          contains(steps.dependabot-metadata.outputs.dependency-names, 'github/codeql-action') ||
          contains(steps.dependabot-metadata.outputs.dependency-names, 'Microsoft.NET.Test.Sdk') ||
          contains(steps.dependabot-metadata.outputs.dependency-names, 'Polly') ||
          contains(steps.dependabot-metadata.outputs.dependency-names, 'Polly.Core') ||
          contains(steps.dependabot-metadata.outputs.dependency-names, 'Polly.Extensions') ||
          contains(steps.dependabot-metadata.outputs.dependency-names, 'xunit') ||
          contains(steps.dependabot-metadata.outputs.dependency-names, 'xunit.runner.visualstudio')
        env:
          GH_TOKEN: ${{ steps.generate-application-token.outputs.token }}
          PR_URL: ${{ github.event.pull_request.html_url }}
        run: |
          gh pr checkout "${PR_URL}"
          if [ "$(gh pr status --json reviewDecision -q .currentBranch.reviewDecision)" != "APPROVED" ];
          then gh pr review --approve "${PR_URL}" && gh pr merge --auto --squash "${PR_URL}"
          fi
