name: github-pages

on:
  push:
    branches:
      - main
      - release/*
  pull_request:
    branches:
      - main
      - release/*
      - dotnet-vnext
  workflow_dispatch:

permissions: {}

jobs:

  build-docs:
    runs-on: ubuntu-latest
    timeout-minutes: 20

    permissions:
      contents: read

    steps:

    - name: Checkout code
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      with:
        filter: 'tree:0'
        persist-credentials: false
        show-progress: false

    - name: Lint Markdown files
      uses: DavidAnson/markdownlint-cli2-action@30a0e04f1870d58f8d717450cc6134995f993c63 # v21.0.0
      with:
        config: '.markdownlint.json'
        globs: |
          **/*.md
          !**/BenchmarkDotNet.Artifacts/**/*.md

    - name: Spellcheck
      uses: rojopolis/spellcheck-github-actions@16d0338a5a3b5e3111a078029fb9a07a8125053d # v0.55.0
      with:
        config_path: .github/spellcheck.yml

    - name: Setup .NET SDK
      uses: actions/setup-dotnet@2016bd2012dba4e32de620c46fe006a3ac9f0602 # v5.0.1

    - name: Generate documentation
      run: |
        dotnet tool restore
        dotnet build --configuration Release /p:SKIP_POLLY_ANALYZERS=true
        dotnet docfx docs/docfx.json

    - name: Publish documentation
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
      with:
        name: docs
        path: docs/_site
        if-no-files-found: error

  publish-docs:
    needs: [ build-docs ]
    runs-on: ubuntu-latest
    if: |
      github.event.repository.fork == false &&
      github.ref_name == github.event.repository.default_branch

    concurrency:
      group: ${{ github.workflow }}
      cancel-in-progress: false

    permissions:
      contents: write
      pages: write

    steps:

    - name: Download documentation
      uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
      with:
        name: docs
        path: docs

    - name: Deploy to GitHub Pages
      uses: peaceiris/actions-gh-pages@4f9cc6602d3f66b9c108549d475ec49e8ef4d45e # v4.0.0
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: docs
        cname: www.pollydocs.org
