name: github-pages

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  publish-docs:
    runs-on: ubuntu-latest

    permissions:
      contents: write
      pages: write

    steps:
    - name: Checkout
      uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v4.1.0

    - name: Lint Markdown files
      uses: DavidAnson/markdownlint-cli2-action@ed4dec634fd2ef689c7061d5647371d8248064f1 # v13.0.0
      with:
        config: ./markdownlint.json
        globs: |
          **/*.md
          !**//BenchmarkDotNet.Artifacts/**/*.md

    - name: Setup .NET SDK
      uses: actions/setup-dotnet@3447fd6a9f9e57506b15f895c5b76d3b197dc7c2 # v3.2.0

    - name: Generate documentation
      run: |
        dotnet tool restore
        dotnet docfx docs/docfx.json

    - name: Deploy
      if: |
        github.event.repository.fork == false &&
        github.ref_name == github.event.repository.default_branch
      uses: peaceiris/actions-gh-pages@373f7f263a76c20808c831209c920827a82a2847 # v3.9.3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: docs/_site
        cname: www.pollydocs.org
