name: github-pages

on:
  push:
    branches: 
      - main
      - release/*
      - dotnet-vnext
  pull_request:
    branches: 
      - main
      - release/*
      - dotnet-vnext
  workflow_dispatch:

permissions:
  contents: read

jobs:

  build-docs:
    runs-on: ubuntu-latest

    steps:

    - name: Checkout code
      uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4.1.6

    - name: Lint Markdown files
      uses: DavidAnson/markdownlint-cli2-action@b4c9feab76d8025d1e83c653fa3990936df0e6c8 # v16.0.0
      with:
        config: '.markdownlint.json'
        globs: |
          **/*.md
          !**/BenchmarkDotNet.Artifacts/**/*.md

    - name: Spellcheck
      uses: rojopolis/spellcheck-github-actions@e36f662b21ead3f6f29794ac5c35069bf236463c # v0.37.0
      with:
        config_path: .github/spellcheck.yml

    - name: Setup .NET SDK
      uses: actions/setup-dotnet@4d6c8fcf3c8f7a60068d26b594648e99df24cee3 # v4.0.0

    - name: Generate documentation
      env:
        DOTNET_ROLL_FORWARD: LatestMajor
        DOTNET_ROLL_FORWARD_TO_PRERELEASE: 1
      run: |
        dotnet tool restore
        dotnet build --configuration Release /p:SKIP_POLLY_ANALYZERS=true
        dotnet docfx docs/docfx.json

    - name: Publish documentation
      uses: actions/upload-artifact@65462800fd760344b1a7b4382951275a0abb4808 # v4.3.3
      with:
        name: docs
        path: docs/_site
        if-no-files-found: error

  publish-docs:
    needs: [ build-docs ]
    runs-on: ubuntu-latest
    if: |
      github.event.repository.fork == false &&
      github.ref_name == github.event.repository.default_branch

    concurrency:
      group: ${{ github.workflow }}
      cancel-in-progress: false

    permissions:
      contents: write
      pages: write

    steps:

    - name: Download documentation
      uses: actions/download-artifact@65a9edc5881444af0b9093a5e628f2fe47ea3b2e # v4.1.7
      with:
        name: docs
        path: docs

    - name: Deploy to GitHub Pages
      uses: peaceiris/actions-gh-pages@4f9cc6602d3f66b9c108549d475ec49e8ef4d45e # v4.0.0
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: docs
        cname: www.pollydocs.org
