name: on-push-do-docs

on:
  push:
    branches: [ main ]
    paths: [ "src/Snippets/**" ]
  workflow_dispatch:

permissions: {}

jobs:
  update-docs:
    name: update-docs
    runs-on: ubuntu-latest
    if: github.event.repository.fork == false

    steps:

      - name: Generate GitHub application token
        id: generate-application-token
        uses: actions/create-github-app-token@7e473efe3cb98aa54f8d4bac15400b15fad77d94 # v2.2.0
        with:
          app-id: ${{ secrets.POLLY_UPDATER_BOT_APP_ID }}
          private-key: ${{ secrets.POLLY_UPDATER_BOT_KEY }}
          permission-contents: write
          permission-pull-requests: write

      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          filter: 'tree:0'
          persist-credentials: true # zizmor: ignore[artipacked] Needed to push commits
          show-progress: false
          token: ${{ steps.generate-application-token.outputs.token }}

      - name: Setup .NET SDK
        uses: actions/setup-dotnet@2016bd2012dba4e32de620c46fe006a3ac9f0602 # v5.0.1

      - name: Update documentation
        id: update-docs
        shell: pwsh
        env:
          DOTNET_CLI_TELEMETRY_OPTOUT: true
          DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
          GIT_COMMIT_USER_EMAIL: '138034000+polly-updater-bot[bot]@users.noreply.github.com'
          GIT_COMMIT_USER_NAME: 'polly-updater-bot[bot]'
        run: |
          $ErrorActionPreference = "Stop"
          $ProgressPreference = "SilentlyContinue"

          dotnet tool restore
          dotnet mdsnippets

          $GitStatus = (git status --porcelain)
          if ([string]::IsNullOrEmpty($GitStatus)) {
            Write-Output "No changes to commit."
            exit 0
          }

          $TimeStamp = Get-Date -Format "yyyy-MM-dd-HH-mm"
          $BranchName = "docs/update-docs-$TimeStamp"
          "branchName=$BranchName" >> ${env:GITHUB_OUTPUT}

          git config user.email ${env:GIT_COMMIT_USER_EMAIL} | Out-Null
          git config user.name ${env:GIT_COMMIT_USER_NAME} | Out-Null
          git remote set-url "${env:GITHUB_SERVER_URL}/${env:GITHUB_REPOSITORY}.git" | Out-Null
          git fetch origin | Out-Null
          git rev-parse --verify --quiet ("remotes/origin/" + $BranchName) | Out-Null

          if ($LASTEXITCODE -eq 0) {
            Write-Output "Branch $BranchName already exists."
            exit 0
          }

          git checkout -b $BranchName
          git add .
          git commit -m "Update the code-snippets in the documentation" -s
          git push -u origin $BranchName
          "updated-docs=true" >> ${env:GITHUB_OUTPUT}

      - name: Create pull request
        if: steps.update-docs.outputs.updated-docs == 'true'
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        env:
          BRANCH_NAME: ${{ steps.update-docs.outputs.branchName }}
        with:
          github-token: ${{ steps.generate-application-token.outputs.token }}
          script: |
            const { repo, owner } = context.repo;
            const workflowUrl = `${process.env.GITHUB_SERVER_URL}/${owner}/${repo}/actions/runs/${process.env.GITHUB_RUN_ID}`;
            await github.rest.pulls.create({
              title: 'Update the code-snippets in the documentation',
              owner,
              repo,
              head: process.env.BRANCH_NAME,
              base: 'main',
              body: [
                'This PR updates the code-snippets in the documentation.',
                '',
                `This pull request was generated by [GitHub Actions](${workflowUrl}).`
              ].join('\n')
            });
