name: ossf-scorecard

on:
  push:
    branches: [ main ]
  schedule:
    - cron: '0 8 * * MON'
  workflow_dispatch:

permissions: read-all # zizmor: ignore[excessive-permissions] Recommended permissions for OSSF Scorecard

jobs:
  analysis:
    name: analysis
    runs-on: ubuntu-latest
    if: github.event.repository.fork == false

    permissions:
      id-token: write
      security-events: write

    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          filter: 'tree:0'
          persist-credentials: false
          show-progress: false

      - name: Run analysis
        uses: ossf/scorecard-action@4eaacf0543bb3f2c246792bd56e8cdeffafb205a # v2.4.3
        with:
          publish_results: true
          results_file: results.sarif
          results_format: sarif

      - name: Upload artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: SARIF
          path: results.sarif
          retention-days: 5

      - name: Upload to code-scanning
        uses: github/codeql-action/upload-sarif@6bc82e05fd0ea64601dd4b465378bbcf57de0314 # v4.32.1
        with:
          sarif_file: results.sarif
